.ftr-imp {
  /* Footer inner main panel */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: auto;
}

.ftr-section {
  /* Each column in the footer */
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0;
  color: var(--color-2-white);
}

.ftr-logo {
  /* Footer website logo */
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url(../../images/website-logo.png);
}

.ftr-title {
  /* The title above the different social media links */
  margin: 0 0 20px 0;
}

.ftr-social-list {
  /* List of social media links */
  margin: 0;
  list-style-type: none;
  padding: 0;
  display: flex;
}

.ftr-social-item {
  /* Each individual social media link */
  background-repeat: no-repeat;
  background-size: contain;
  padding: 0;
  height: 30px;
  width: 30px;
  margin: 10px;
}

.ftr-instagram {
  /* Instagram icon */
  background-image: url(../../images/icon-instagram.png);
}

.ftr-facebook {
  /* Facebook icon */
  background-image: url(../../images/icon-facebook.png);
}

.ftr-github {
  /* Github icon */
  background-image: url(../../images/icon-github.png);
}

.ftr-linkedin {
  /* LinkedIn icon */
  background-image: url(../../images/icon-linkedin.png);
}

@media screen and (max-width: 510px) {
  .ftr-imp {
    /* Footer inner main panel */
    flex-direction: column;
    padding-top: 40px;
  }

  .ftr-section {
    width: 80%;
    padding-top: 20px;
  }
}
