.ban-imp {
  /* Banner section inner main panel */
  width: 100%;
  height: 100%;
  display: flex;
  padding: 0;
  flex-direction: row;
}

.ban-mp-img {
  /* Main banner image */
  height: 80vh;
  background-image: url(/home-page/banner-image.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.ban-main-title {
  /* Main banner title */
  font-family: "Montserrat", sans-serif;
}

.ban-img-txt {
  /* Container for banner text */
  width: 50vw;
  height: auto;
  margin-top: 0px;
  display: inline-flex;
  flex-direction: column;
  text-align: left;
  padding: 8% 0 0 8%;
}

.ban-img-txt * {
  /* Each piece of individual text on banner section */
  margin: 10px;
}

.ban-img-txt h1 {
  /* Make my name a bit bigger */
  font-size: 70px;
}

/*
    Media Queries - Used when screen size changes
*/

@media screen and (max-width: 700px) {
  .ban-imp {
    /* When screen gets small, put text under profile picture */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px 0;
  }

  .ban-img-txt {
    /* Put my name in middle of screen */
    text-align: center;
    padding: 0px;
    width: 100%;
  }
}

@media screen and (max-width: 510px) {
  .ban-img-txt {
    /* Add spacing between banner picture and text */
    margin-top: 20px;
  }

  .ban-img-txt h1 {
    /* Make my name a bit bigger */
    font-size: 60px;
  }
}
