.ban-imp {
  display: flex;
  padding: 20px 0;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.ban-img {
  max-height: 240px;
  max-width: 240px;
  width: 70vw;
  height: 70vw;
  background-image: url(/home-page/banner-1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  border: 5px solid var(--color-1-light-grey);
  margin: 0 auto;
}

.ban-img-txt {
  height: 300px;
  margin-top: 0px;
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}

.ban-img-txt * {
  height: auto;
  margin: 0px;
}

.ban-img-txt h1 {
  font-size: 50px;
}

/*
    Media Queries - Used when screen size changes
*/

@media screen and (max-width: 510px) and (min-width: 351px) {
  .ban-imp {
    flex-direction: column;
  }

  .ban-img-txt {
    height: auto;
    margin-top: 20px;
  }

  .ban-img-txt h1 {
    font-size: 35px;
  }
}

@media screen and (max-width: 350px) {
  .ban-img-txt h1 {
    font-size: 25px;
  }

  .ban-img-txt h4 {
    font-size: 12px;
  }
}
