.ban-imp {
  /* Banner section inner main panel */
  display: flex;
  padding: 20px 0;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 300px;
}

.ban-img {
  /* Profile picture in banner section */
  max-height: 240px;
  max-width: 240px;
  width: 70vw;
  height: 70vw;
  background-image: url(/home-page/banner-1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  border: 5px solid var(--color-1-light-grey);
  margin: 0 auto;
}

.ban-img-txt {
  /* Container for banner text */
  height: auto;
  margin-top: 0px;
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}

.ban-img-txt * {
  /* Each piece of individual text on banner section */
  margin: 0px;
}

.ban-img-txt h1 {
  /* Make my name a bit bigger */
  font-size: 50px;
}

/*
    Media Queries - Used when screen size changes
*/

@media screen and (max-width: 510px) {
  .ban-imp {
    /* When screen gets small, put text under profile picture */
    flex-direction: column;
  }

  .ban-img-txt {
    /* Add spacing between banner picture and text */
    margin-top: 20px;
  }

  .ban-img-txt h1 {
    /* Make my name a bit smaller for smaller screens */
    font-size: 35px;
  }
}

@media screen and (max-width: 350px) {
  .ban-img-txt h1 {
    /* Make banner text even smaller */
    font-size: 25px;
  }

  .ban-img-txt h4 {
    /* Make banner text even smaller */
    font-size: 12px;
  }
}
