.wel {
  display: inline-flex;
  margin: 0 auto;
  padding: 20px 0px;
}

.wel-msg {
  width: 100%;
  height: auto;
  flex-direction: column;
  text-align: left;
}

.wel-highlights {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.wel-highlight-item {
  display: flex;
  flex-direction: column;
  width: 220px;
  height: auto;
  border: 1px solid grey;
  margin: 0px 10px;
  padding: 0px;
}

.wel-highlight-picture {
  width: 80%;
  padding-bottom: 80%;
  margin: 0 auto;
  border-radius: 50%;
}

.wel-highlight-title {
  margin-top: 10px;
}

.wel-highlight-txt {
  margin-top: 5px;
}
