.section-title {
  /* Main section title */
  width: 100%;
  height: auto;
  margin: 20px 0 60px 0;
}

.main-title,
.sub-title {
  /* Generic formatting for main and sub title */
  margin: 0px;
  padding: 0px;
}
