@font-face {
  font-family: "Reliable";
  src: local("Reliable"), url(../fonts/Reliable.otf) format("opentype");
}

.banner {
  background-image: url("../images/background-image-desert-2.jpg");
  background-position: center center;
  background-size: cover;
  height: 45vh;
  min-height: 400px;
  width: 100vw;
  display: table;
  text-align: center;
}

.banner-title {
  font-family: Reliable;
  margin: 0px;
  display: table-cell;
  vertical-align: middle;
  color: #fff;
  font-size: 10vh;
  font-weight: normal;
}
