.menu-header {
  width: 23.33vw;
  height: 100%;
  display: inline-table;
  text-align: center;
}

.menu-highlighted {
  background-color: #d41e29;
}

.menu-header:hover {
  background-color: #d41e29;
  cursor: pointer;
}

.main-header-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.main-header-icon {
  width: 100px;
  height: 100px;
  background-size: 100% 100%;
  margin: 0 auto;
}

.icon-small {
  width: 70px;
  height: 70px;
}

.icon-about {
  background-image: url("../images/about.png");
}

.icon-projects {
  background-image: url("../images/projects.png");
}

.icon-resume {
  margin: 0px auto;
  transform: translate(8px, 0);
  background-image: url("../images/resume.png");
}

.main-header-title {
  margin-bottom: 0px;
  color: #fff;
  font-family: Karla;
  font-size: 25px;
  font-weight: bold;
}

.header-title-small {
  font-size: 20px;
}
