.download-resume {
  display: block;
  width: 100%;
  height: 200px;
  padding-top: 30px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.download-button {
  border-radius: 4px;
  background-color: #ea212d;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  width: 200px;
  cursor: pointer;
  margin: 5px;
}

.download-button:active {
  background-color: #d41e29; /* Darkens button as it is clicked */
}

.download-button:focus {
  /* Removes blue border after button is clicked */
  outline: none;
}

.resume-full {
  width: 70%;
  height: 600px; /*calc(100% - 150px);*/
  margin: 40px 0px 40px 0px;
  min-height: 40px;
  min-width: 300px;
  display: inline-flex;
  vertical-align: top;
  position: relative;
  box-sizing: border-box;
}

.myskills-list-section {
  width: 400px;
  height: auto;
  display: inline-block;
  box-sizing: border-box;
  padding: 30px;
  vertical-align: top; /* Override the "baseline" so it aligns the sections by top down */
}

.work-exp-area {
  height: auto;
  border: 5px solid green;
  width: 100%;
}

.work-exp-panel {
  width: 350px;
  height: 500px;
  background-color: white;
  display: inline-flex;
  margin: 0px 20px 0px 20px;
  vertical-align: top;
}
