.skill {
  width: 30%;
  min-width: 300px;
  height: 70px;
  margin: 5px;
  background-color: #f6f6f6;
  display: inline-flex;
}

.skill-logo {
  width: 70px;
  height: 70px;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: bottom; /* Make the sections aligned horizontally */
}

.skill-logo img {
  margin-top: 10px;
}

.skill-data {
  display: inline-block;
  width: calc(100% - 70px);
  height: 70px;
  vertical-align: bottom; /* Make the sections aligned horizontally */
  text-align: left;
  padding: 8px 0px 0px 20px;
  box-sizing: border-box;
}

.skill-data .skill-data-title {
  margin: 0px;
  font-size: 20px;
  font-weight: bold;
}

.skill-data .skill-data-years {
  margin: 0px;
}
