.navbar {
  background-color: #353535;
  width: 100vw;
  height: 4vh;
  margin: 0px;
  min-height: 50px;
  font-family: Karla;
  font-weight: bold;
}

.navbar-area {
  height: 100%;
  width: 70vw;
  margin: 0 auto; /* Horizontally center work area */
  display: inline-block;
}

.navbar-list {
  display: inline-flex;
  float: left; /* Move ul to left side */
  margin: 0px;
  padding: 0;
  height: 100%;
}

.navbar-list-item {
  display: inline-flex;
  padding: 0px 30px 0px 30px;
  color: #fff;
  font-size: 20px;
  align-items: center; /* Vertically align */
}

.navbar-list-item:hover {
  background-color: #d41e29;
  cursor: pointer;
}

.navbar-list-item:active {
  background-color: #ea212d;
}
