.navbar {
  background-color: #353535;
  width: 100vw;
  height: 4vh;
  margin: 0px;
  min-height: 50px;
  font-family: Karla;
  font-weight: bold;
}

.navbar-area {
  height: 100%;
  width: 70vw;
  margin: 0 auto; /* Horizontally center work area */
  display: inline-block;
}

.navbar-logo-section {
  width: 200px;
  height: 100%;
  display: inline-flex;
  float: left;
}

.navbar-logo-icon {
  height: 30px;
  width: 30px;
  position: relative;
  top: 10px;
  left: 10px;
  background-image: url("../images/shield.svg");
  background-position: center center;
  background-size: cover;
}

.navbar-logo-text {
  font-family: Reliable;
  font-size: 20px;
  margin: 13px 0px 0px 20px;
  color: #fff;
}

.navbar-list {
  display: inline-flex;
  float: right; /* Move ul to left side */
  margin: 0px;
  padding: 0;
  height: 100%;
}

.navbar-list-item {
  display: inline-flex;
  padding: 0px 30px 0px 30px;
  color: #fff;
  font-size: 20px;
  align-items: center; /* Vertically align */
}

.navbar-list-item a,
.navbar-list-item a.new:visited {
  color: white;
  text-decoration: none;
}

.navbar-list-item:hover {
  background-color: #d41e29;
  cursor: pointer;
}

.navbar-list-item:active {
  background-color: #ea212d;
}

.in-progress-area {
  width: 100%;
  height: 40px;
  background-color: #fff;
  display: inline-block;
  position: absolute;
  top: 50px;
  left: 0px;
}

.in-progress-text {
  margin: 12px;
  color: #f00;
}
