.foot-imp {
  /* Footer inner main panel */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  min-height: 75px;
}

.foot-imp a {
  /* The <a> tag adds some "padding" at the bottom for the text. This removes it. */
  font-size: 0px;
}

.foot-social-icon {
  /* List of social media icons */
  display: inline-flex;
  width: 35px;
  height: 35px;
  margin: 0 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.icon-git {
  /* Clickable GitHub logo */
  background-image: url(/icon-github.png);
}

.icon-insta {
  /* Clickable Instagram logo */
  background-image: url(/icon-instagram.png);
}

.icon-fb {
  /* Clickable Facebook logo */
  background-image: url(/icon-facebook.png);
}
