.nb-container {
}

.nb-logo {
  /* Website logo in the navbar */
  width: 200px;
  height: 100%;
  display: inline-flex;
  float: left;
}

.nb-item-list {
  /* List of items in navbar */
  display: inline-flex;
  float: right;
  list-style: none;
  padding: 0px;
  margin: 0px;
  vertical-align: top;
  height: 100%;
  font-weight: bold;
}

.nb-item {
  /* Each item in navbar */
  display: inline-flex;
  align-items: center;
  height: 100%;
  padding: 0px 20px;
}

/*
    Media Queries - Used when screen size changes
*/

@media screen and (max-width: 510px) {
  .nb-logo {
    width: 100%;
    float: none;
  }

  .nb-item-list,
  .nb-item {
    display: none;
  }
}
