/* CSS Variables */
:root {
  --color-1-light-grey: #d0ccd0;
  --color-2-white: #fff; /* #fbfcff; */
  --color-3-dark-grey: #605856;
  --color-4-aquamarine: #1c6e8c;
  --color-5-dark-blue: #274156;

  --window-size-small: 510px;
}

html {
  scroll-behavior: smooth;
}

/* 
    Logo 
*/

.logo {
  background-image: url(/website-logo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

/*
    Main Panel Sizes
*/

.mp {
  /* Main Panel */
  width: 100vw;
}

.mp-fit {
  height: auto;
}

.mp-tiny {
  /* Main panel super short */
  height: auto;
  min-height: 75px;
}

.mp-short {
  /* Main panel short */
  height: auto;
  min-height: 200px;
}

.mp-medium {
  /* Main panel middle */
  height: auto;
  min-height: 400px;
}

.mp-banner {
  /* Main Panel Banner Height */
  height: auto;
  min-height: 600px;
}

/*
    Inner Main Panel Containers
    These areas will contain all content and will allow the content to scale depending on screen size
*/

.imp {
  /* Inner Main Panel*/
  height: 100%;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

/*
    Main Panel Colors
*/

.mp-color-1 {
  background-color: var(--color-1-light-grey); /* Light Grey */
}

.mp-color-2 {
  background-color: var(--color-2-white); /* White (Almost) */
}

.mp-color-3 {
  background-color: var(--color-3-dark-grey); /* Dark Grey */
}

.mp-color-4 {
  background-color: var(--color-4-aquamarine); /* Aquamarine */
}

.mp-color-5 {
  background-color: var(--color-5-dark-blue); /* Dark Blue */
}

/*
    Main Panel Text Colors
*/

.mp-txt-color-1 {
  color: var(--color-1-light-grey); /* Light Grey */
}

.mp-txt-color-2 {
  color: var(--color-2-white); /* White (Almost) */
}

.mp-txt-color-3 {
  color: var(--color-3-dark-grey); /* Dark Grey */
}

.mp-txt-color-4 {
  color: var(--color-4-aquamarine); /* Aquamarine */
}

.mp-txt-color-5 {
  color: var(--color-5-dark-blue); /* Dark Blue */
}
