.navbar {
  background-color: #353535;
  width: 100vw;
  min-width: 400px;
  height: auto;
  margin: 0px;
  font-family: Karla;
  font-weight: bold;
  padding: 0px;
  display: flex;
  justify-content: center;
}

.navbar-area {
  height: auto;
  width: 70vw;
}

.navbar-logo-section {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
}

.navbar-logo-section-small {
  width: 100%;
  height: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  float: left;
}

.navbar-logo-icon {
  height: 30px;
  width: 30px;
  position: relative;
  margin-right: 10px;
  background-image: url("../../images/shield.svg");
  background-position: center center;
  background-size: cover;
}

.navbar-logo{
  background-color: pink;
  height: 100%;
}

.navbar-logo:hover{
  cursor: pointer;
}

.navbar-logo-text {
  font-family: Reliable;
  font-size: 20px;
  color: #fff;
}

.navbar-list {
  display: inline-flex;
  float: right; /* Move ul to left side */
  margin: 0px;
  padding: 0;
  height: 50px;
}

.navbar-list-small {
  display: inline-flex;
  float: right; /* Move ul to left side */
  margin: 0px;
  padding: 0;
  height: 50px;
  width: 100%;
  justify-content: center;
}

.navbar-list-item {
  display: inline-flex;
  width: 200px;
  color: #fff;
  font-size: 20px;
  align-items: center; /* Vertically align */
  justify-content: center;
}

.navbar-list-item-small {
  display: inline-flex;
  width: 50%;
  color: #fff;
  font-size: 20px;
  align-items: center; /* Vertically align */
  justify-content: center;
}

.list-item-contact {
  width: 175px;
}

.list-item-github {
  width: 225px;
}

.navbar-list-item a,
.navbar-list-item a.new:visited,
.navbar-list-item-small a,
.navbar-list-item-small a:visited {
  color: white;
  text-decoration: none;
}

.navbar-list-item:hover,
.navbar-list-item-small:hover {
  background-color: #d41e29;
  cursor: pointer;
}

.navbar-list-item:active,
.navbar-list-item-small:active {
  background-color: #ea212d;
}
