.project-item {
  /* Each project item as a whole */
  max-width: 400px;
  width: 40%;
  min-height: 500px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px;
  border-radius: 15px;
  border: 1px solid #e6e6e6;
}

.project-picture {
  /* Project item picture */
  width: 100%;
  height: 200px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 15px 15px 0px 0px;
  border-radius: 15px 15px 0px 0px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.project-text-container {
  /* Project item main rext section */
  width: 100%;
  min-height: 300px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: none;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px 0px 15px 15px;
  border-radius: 0px 0px 15px 15px;
}

.project-title {
  /* Title of the project item */
  margin: 0;
  width: 100%;
  min-height: 60px;
  height: auto;
  font-weight: bold;
  padding: 15px;
}

.project-text {
  /* Descriptive text about the project */
  min-height: 180px;
  height: auto;
  margin: 0;
  text-align: left;
  padding: 0 20px 20px 20px;
}

.project-button-container {
  /* Project item main button container */
  min-height: 60px;
  height: auto;
  display: flex;
}

.project-button {
  /* Each button on the project. Leads to the project files or website */
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #000;
  color: #000;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 0;
  height: 40px;
}

.project-button:hover {
  /* Button hover design */
  background-color: var(--color-5-dark-blue);
  color: var(--color-2-white);
}

.link-hidden {
  /* 
    Used when the project cannot be seen on GitHub. 
    Happens when the project is confidential
  */
  display: none;
}

.project-pic-personal-website {
  /* Website Image */
  background-image: url(/home-page/mak-grad.jpg);
}

.project-pic-edamam {
  /* Edamam Logo Picture */
  background-image: url(/home-page/food.jpg);
}

.project-pic-breadboard {
  /* Breadboard Picture */
  background-image: url(/home-page/circuits.jpg);
}

.project-pic-huffman {
  /* Huffman Picture */
  background-image: url(/home-page/binary.jpg);
}

.project-pic-minesweeper {
  /* Minesweeper Picture */
  background-image: url(/home-page/minesweeper.png);
}

.project-pic-coding {
  /* C Programming Picture */
  background-image: url(/home-page/coding.jpg);
}

@media screen and (max-width: 700px) {
  /* Spread to fit the width of the screen */
  .project-item {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 20px 0px;
  }
}
