.proj-imp {
  /* Main project section */
  padding: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

@media screen and (max-width: 510px) {
  .proj-imp {
    /* Reduce padding so it fits a mobile phone better */
    padding: 60px 20px;
  }
}
