.work-imp {
  /* Imp for work experience */
  padding: 60px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 510px) {
  /* Reduce padding for mobile */
  .work-imp {
    padding: 60px 20px;
  }
}
